{% extends "content_base.html" %}

{% load serialize_invite from eric %}

{% block title %}{{ block.super }} &mdash; infomation about the day{% endblock title %}

{% block page_heading %}Information about Eric's naming day{% endblock page_heading %}


{% block page_content %}
  <section id="when">
    <h2>When</h2>
    <p>
      The ceremony will be from midday until 5pm (subject to final confirmation
      from the venue).
    </p>
  </section>
  
  <section id="where">
    <h2>Where</h2>
    <p>
      We'll be celebrating at <a href="https://maps.google.co.uk/maps?q=William+Osler+House,+Osler+Road,+Headington,+Oxford&hl=en&sll=47.73855,12.508828&sspn=42.417597,65.478516&oq=osler+hou&t=m&z=16" target="_blank">Osler House, in Headington, Oxford</a>.
    </p>
    <h3>Full address</h3>
    <address>
      William Osler House<br>
      Osler Road<br>
      Headington<br>
      Oxford<br>
      OX3 9BL
    </address>
  
    <h3>Map to the venue</h3>
    <p>Click on the map to go to google maps</p>
    <p class="hidden-phone">
      <a href="https://maps.google.co.uk/maps?q=William+Osler+House,+Osler+Road,+Headington,+Oxford&hl=en&sll=47.73855,12.508828&sspn=42.417597,65.478516&oq=osler+hou&t=m&z=16" target="_blank">
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=William+Osler+House,+Osler+Road,+Headington,+Oxford&zoom=16&scale=2&size=640x320&maptype=roadmap&markers=color:blue%7CWilliam+Osler+House,+Osler+Road,+Headington,+Oxford&sensor=false" alt="Map" id="map">
      </a>
    </p>
    <p class="visible-phone">
      <a href="https://maps.google.co.uk/maps?q=William+Osler+House,+Osler+Road,+Headington,+Oxford&hl=en&sll=47.73855,12.508828&sspn=42.417597,65.478516&oq=osler+hou&t=m&z=16" target="_blank">
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=William+Osler+House,+Osler+Road,+Headington,+Oxford&zoom=16&scale=1&size=480x320&maptype=roadmap&markers=color:blue%7CWilliam+Osler+House,+Osler+Road,+Headington,+Oxford&sensor=false" alt="Map" id="map">
      </a>
    </p>
    
    <h3>Getting there</h3>
    <h4>By car</h4>
    <p>
      Parking at Osler House is free for our guests. If the car park is full you
      can use the John Radcliffe car park, but there will be a charge. See
      <a href="http://www.ouh.nhs.uk/hospitals/jr/find-us/car.aspx" target="_blank">their page for car users</a>.
    </p>
    <p>
      To get to the car park, enter the John Radcliffe site from Osler Road, and
      follow the signs to <strong>Osler Lodge</strong>.
    </p>
    <h4>By bus</h4>
    <p>
      Any buses that go to the
      <a href="http://city.oxfordbus.co.uk/buses-jr-hospital/" target="_blank">John Radcliffe Hospital</a>
      will be a good choice as Osler House is in the grounds of the Hospital.
    </p>
    <p>
      Get off the bus inside the John Radcliffe grounds and head up hill,
      keeping the <strong>Maternity unit/Women's centre</strong> to your left.
      Turn right outside the upper entrance to the Womem's centre and you should
      be able to find Osler House ahead and to the left.
    </p>
  </section>
  
  <section id="gifts">
    <h2>Gifts</h2>
    <p>
      The best gift you can give to Eric is your love and support as he grows up,
      but if you would like to give him something to remember the day but are
      unsure what to get, we received a great of help from the
      breast-feeding service at the John Radcliffe hospital to turn Eric's
      weight loss around. Donations to this worthy cause would be fitting.
    </p>
  </section>
  
{% endblock page_content %}