html, body {
    min-height: 100%;
    max-width: 100%;
    overflow: hidden;
    overflow-y: auto;
}
body {
    background-color: #3498DB;
    background-image: url(../img/bg.png);
}
.envelope-viewport {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    text-align: center;
    -webkit-perspective: 1000px;
}
.envelope {
    cursor: default;
    margin-top: 100px;
    position: relative;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateY(0) rotateZ(10deg) scale(.6);
}
.flipped .envelope {
    -webkit-transform: rotateY(180deg);
    margin-top: 24em;
}
.face {
    width: 40em;
    height: 24em;
    background-color: #f9f9f9;
    color: #2a2a2a;
    text-shadow: 0 1px 1px #fff;
    display: block;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    z-index: 1;

    box-shadow: 10px 10px 0 rgba(0,0,0,.2), 0 0 5px rgba(0,0,0,.1);
    -webkit-transition: 2s;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}

.face.front {
    z-index: 2;
    -webkit-transform: rotateY(-180deg);
}
.face.front {
    background: #ECF0F1;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ECF0F1), color-stop(100%,#cccccc));
    background: -webkit-linear-gradient(top,  #ECF0F1 0%,#cccccc 100%);
    background: linear-gradient(to bottom,  #ECF0F1 0%,#cccccc 100%);
}
.flipped .face.front {
    position: fixed;
}
.flap {
    border-width: 12em 20em;
    border-color: transparent;
    border-style: solid;
    position: absolute;
}
.flipped .flap.top {
    top: 0;
    border-bottom-width: 15em;
    border-bottom-color: #ECF0F1;
    margin-top: -27em;
}

.envelope h1 {
    font-family: Homemade Apple;
    font-size: 3em;
    text-align: center;
    margin-top: 1.5em;

    -webkit-transform: rotate(-10deg);
}
.envelope p {
    margin-top: 2em;

    font-family: Homemade Apple;
    font-size: 2em;
}

.letter {
    opacity: 0;
    top: 100%;
    width: 60%;
    padding: 4em;
    margin: auto 20%;
    z-index: 0;
    position: absolute;
    height: 0;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-transition: 0;
}
.flipped .letter {
    opacity: 1;
    top: 5em;
    background-color: #fff;
    background-image: url(../img/lined_paper.png);
    color: #333;
    box-shadow: 10px 10px 0 rgba(0,0,0,.2), 0 0 10px rgba(0,0,0,.1);
    z-index: 3;
    text-align: left;
    height: auto;
    overflow: auto;
    -webkit-transition: 2s;
}
.letter h2 {
    font-family: Homemade Apple;
    font-size: 1.5em;
    margin: 0 0 1em;
}
.letter p {
    font-size: 1em;
    line-height: 1.2;
}
.letter h3 {
    font-family: Homemade Apple;
    font-size: 1.2em;
    margin: 0 0 1em;
}
.letter form {
    margin-bottom: 2em;
}
.letter ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.letter li {
    margin: 0 0 1em;
    display: block;
}
.letter label {
    display: block;
    clear: both;
}
.letter section {
    border: 0;
}
